  <div class="container">
    <h1>
      <%= title %>
    </h1>

    <p>I'm a student of <b>Software Engineering & Technology</b> -Advance Diploma Program at Centennial College.</p>
    <p>I have Bachelor degree in Pharmacy but I have changed my track to build my career in tech industry.<p>
    

    <p>Some of my favourite things to do are:</p>
    <ul>
    <li>Watching movies</li>
    <li>Travelling</li>
    <li>Playing chess</li>
    <li>Trying different cuisines</li>
    <li>Internet browsing</li>
    <li>Listening Music</li>
    </ul>


  </div>