  <div class="container">
    <h1>
      <%= title %>
    </h1>

    
<p>Mobile: (437) 233-8015

<br>Email: <a href="mailto:shahriartanvir75@gmail.com">shahriartanvir75@gmail.com</a>
<br>LinkedIn:  <a href="https://www.linkedin.com/in/shahriar-tanvir-a64925123/">Click Here</a>
</p>


  <p></p>
  <p></p>
  <form method="post" action="mailto:shahriartanvir75@gmail.com">
  <table style="width: 100%">
    <tr>
      <td id="tableData"><span id="tableLabel" lang="en-ca">Name:</span></td>
      <td><span lang="en-ca">
      <input name="CustomerName" size="50" tabindex="3" type="text"></span></td>
    </tr>
    <tr>
      <td id="tableData"><span lang="en-ca">Phone Number:</span></td>
      <td><span lang="en-ca">
      <input name="CustomerPhone" size="50" tabindex="4" type="text"></span></td>
    </tr>
    <tr>
      <td id="tableData"><span lang="en-ca">Address: </span>
      </td>
      <td><span lang="en-ca">
      <input name="CustomerPhone0" size="50" tabindex="4" type="text"></span></td>
    </tr>
 
    <tr>
      <td id="tableData"><label> Email:</label>
      </td>

      <td>

        <input name="txtEmail" size="50" tabindex="4" type="email" required="required" />
      
      </td>
    </tr>
    <tr>
      <td id="tableData"><span lang="en-ca">Additional Message: </span></td>
      <td>
  <span lang="en-ca">
      <textarea cols="53" name="Comment" rows="5" tabindex="10"></textarea><br> </span>
      </td>
    </tr>
    <tr>
      <td id="tableData">
      <input name="SendForm" tabindex="14" type="submit" value="Click here for submit"></td>
      <td>
      <input name="startAgain" tabindex="15" type="reset" value="Clear Form"></td>
    </tr>
  </table>
</form>





  </div>