  <div class="container">
    <p></p>
      <p></p>

    <h1>SHAHRIAR</h1>
    <h1>TANVIR</h1>
    <img src="./assets/images/image.png" alt="picture of myself"style="float:right">



    <h4>Welcome To My Portfolio Site</h4>

    <div class="btn d-block mx-auto">
      <a
        href="./assets/downloads/Shahriar_Tanvir_Resume .pdf"
        class="btn btn-primary m-2 p-2"
        aria-current="page"
        >My Resume</a
      >

    </div>
  </div>