  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <ul>
      <li><a href="http://studentweb.cencol.ca/stanvir3/COMP_125_Assignment1/Comp125Assignment01.html"><span lang="en-ca">
        BMR Calculator</span></a></li>
      <li><a href="http://studentweb.cencol.ca/stanvir3/COMP_125_Assignment2/assignment2.html"><span lang="en-ca">
        Table Generator</span></a></li>
      <li><a href="http://studentweb.cencol.ca/stanvir3/COMP_125_Assignment3/assign3.html"><span lang="en-ca">
        Photo Gallery-Project 1</span></a></li>
       <li><a href="http://studentweb.cencol.ca/stanvir3/COMP_125_Assignment6/assign6.html"><span lang="en-ca">
        Photo Gallery-Project 2</span></a></li>
      <li><a href="http://studentweb.cencol.ca/stanvir3/COMP_125_Assignment4/form.html"><span lang="en-ca">
        Registration Form</span></a></li>
        <li><a href="http://studentweb.cencol.ca/stanvir3/COMP_125_Assignment5/assignment_5.html"><span lang="en-ca">
          The Bug Smasher</span></a></li>
        

      </ul>
  </div>