  <div class="container">
    <h1>
      <%= title %>
      </h1>
      <ul>
        <li>Software Development</li>
        <li>Web Design</li>
        <li>Database Management</li>       
        </ul>
  </div>